.about_gallery{
    position: relative;
    width: 80%;
    top: 220px;
    left: 8%;
    /* border-top: 2px solid rgb(18, 9, 71); */
    /* background-color: #ccc; */
}
.about_text{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about_about{
    position: relative;
    width: 100%;
    top: 160px;
    bottom: 50px;
    background-color: rgba(48, 19, 216, 0.801);
    padding: 30px;
}
.about_about div{
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about_about-title{
    margin: 12px 0px;
}
.about_about-title span{
    font-size: 30px;
    font-weight: 800;
    /* color: rgb(18, 9, 71); */
    color: #fff;
}
.about_about_info{
    position: relative;
    width: 70%;
    text-align: center;
    margin: 6px 0px;
    display: flex;
    flex-direction: column;
}
.about_about_info p{
    color: #f1f1f1;
}
.about_reviwe{
    position: relative;
    width: 100%;
    top: 160px;
    background-color: rgba(48, 19, 216, 0.801);
}
.leading-relaxed{
    color: #fff;
}
.card{
    /* background: #f1f1f1; */
}
.about_text_text{
    color: black;
}
.about_reviwe_title{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.about_reviwe_title span{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.4px;
}