@media screen and (max-width: 720px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .wrapper {
    position: relative;
    width: 100%;
    /* overflow-x: hidden; */
  }
  .logo img {
    width: 130px;
    height: 130px;
  }
  .header_hd {
    font-size: 20px;
  }
  .nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    align-items: flex-start;
    top: -1000%;
    /* display: none; */
  }
  .nav ul {
    flex-direction: column;
    width: 100%;
    padding: 30px;
    /* background: green; */
    width: 100%;
    position: relative;
    margin: 40px auto;
  }
  .nav ul li {
    width: 100%;
    text-align: center;
    /* background-color: gold; */
    margin: 20px 0px;
  }
  .nav ul li a {
    font-size: 23px;
    color: #fff;
  }
  .nav_icon {
    position: relative;
    margin: 14px 0px;
    cursor: pointer;
    display: block;
  }
  .nav_icon i {
    font-size: 18px;
  }
  .nav.active {
    /* display: block; */
    top: 0%;
    transition: all 0.3s;
  }
  .nav_icon-x {
    display: block;
    position: absolute;
    color: #fff;
    margin-top: 30px;
    margin-right: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
  }
  .nav_icon-x i {
    font-size: 28px;
    font-weight: 600;
  }
}


@media screen and (max-width: 500px){
  .footer_links{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_links-link{
    padding-left: 20px;
    margin-bottom: 14px;
    /* border-bottom: 1px solid red; */
    width: 100%;
  }
  .footer_links-link h3{
    font-size: 18px;
  }
}